.signupForm {
    background-color: rgb(85, 95, 85);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    input {
        border: none;
        padding: .8em 1em;
        border-radius: .5em;
    }

    button {
        padding: .5em 1em;
        border-radius: .5em;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: #fff;
        }
    }

    span{
        color: red;
    }
}